<html>
    <head>
        <title>
            Formulário
        </title>
    </head>
    <body>
        <p>teste</p>
        <form action="/calcular" method="get">
            <label>Digite um número: </label> 
            <input type="number"  name="n1">
             <br>
             <br>
            <label>Digite outro número: </label> 
            <br>
            <br>
            <input type="number"  name="n2"> 
            <br>
            <br>
            <input type="submit">
        </form>
    </body>
</html>