<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=h1, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Formulário</h1>
    <form action="/app" method="post">
        <label>Digite seu nome: </label>
        <input type="text" name="nome">
        <label>Digite seu sobrenome: </label>
        <input type="text" name="sobrenome">
        <input type="submit">
    </form>
</body>
</html>